_entropy/entropy
_matching/matching
_modeling/modeling
_strings/strings
_entropy/xcode/*
_matching/xcode/*
_modeling/xcode/*
_strings/xcode/*
_entropy/build/*
_matching/build/*
_modeling/build/*
_strings/build/*
Eigen-3.3.4
